/*   z      k */


/* Custom CSS */

/* Header */
header {
  padding: 0 0.25rem;
}

/* Bootstrap Fix */
.row {
  padding: 0 1.25rem;
}

/* Main Content */
.content {
  padding: 2.5rem 0;
}
h3 {
  color: #ef233c;
}
h1{
  font-size: 26px;
  text-align: left;
  color:#2b2d42;
}
.logo{
  display:flex;
  justify-content: center;
  width:auto;
}

p{
  color:#2d99FF;
  font-weight: bold;
}
.doc{
  color:#ef233c;
}
h2{
  text-align: center;
}